<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table id="cart-detail" data-hook width="100%" border="0" cellspacing="0" bordercolor="white">
 <thead>
    <tr data-hook="cart_items_headers">
      <th style="padding-left:20px;text-align:left;"><%= t(:item) %></th>
      <th style="padding-left:20px;text-align:left;"><%= t(:price) %></th>
      <th style="padding-left:20px;text-align:left;"><%= t(:qty) %></th>
      <th style="padding-left:20px;text-align:left;"><%= t(:total) %></th>
      <th style="padding-left:20px;text-align:left;">Remove</th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook >
  	<div style="width:100%; background: url(/assets/lightbox_bg.jpg); border-radius: 10px 10px 10px 10px;margin-bottom: 15px;">
 <div class="lightbox_title">Your Cart</div>

    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
    </div>
    </div>
  </tbody>
</table>
