

<tr class="<%= cycle('', 'alt') %> line-item">
 
  <td data-hook="cart_item_description">
    <h3><%= variant.product.name %></h3>
    <%= variant.options_text %>
    <% if @order.insufficient_stock_lines.include? line_item %>
      <span class="out-of-stock">
        <%= variant.in_stock? ? t(:insufficient_stock, :on_hand => variant.on_hand) : t(:out_of_stock) %><br />
      </span>
    <% end %>

  </td>
 
  <td data-hook="cart_item_quantity">
    <%= item_form.number_field :quantity, :min => 0, :class => "textfield_bg2", :size => 5 %>
  </td>
  <td data-hook="cart_item_price">
    <%= number_to_currency line_item.price %>
  </td>

</tr>
