<script language="JavaScript">
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload(true);
    }
}
</script>
<% @body_id = 'cart' %>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
   
 
  </div>

<% else %>
  <div data-hook="outside_cart_form">
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div data-hook="inside_cart_form">

        <div data-hook="cart_items">
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
        </div><br/>
          <div class="links columns ten alpha" data-hook="cart_buttons">
          <%= button_tag :class => "button", :id => 'update-button' do %>
            <%= t(:update) %>
          <% end %>
         
        </div>
 <div id="subtotal" data-hook class="columns six omega">
          <h4 class="cart_line2"><div class="cart_total">Sub total 		</div>	 <%= order_subtotal(@order) %></h5>
        </div>
        <div class="links columns ten alpha" data-hook="cart_buttons">
          <table border="0" align=left cellpadding="15">
         <tr>
            	<td align="left">
         <a href='/checkout' style="background:url(../assets/continue.jpg) no-repeat; border:0; border-width:0; cursor:pointer; width:121px; height:35px;padding: 7px 87px 36px 35px;" id = 'checkout-link' ></a>
         </table>
        </div>
        
      </div>
    <% end %>
  </div>

<% end %>
