<script language="JavaScript">
function refreshMe() {
var _now = new Date();
var _prev = 0;
var indx = location.search.indexOf("time=");
if (indx != -1) _prev = parseInt(location.search.slice(indx + 5));
if (_prev < _now.getTime() - 5000) {
indx = location.href.indexOf("?");
if (indx == -1) indx = location.href.length;
location.replace(location.href.slice(0, indx) + "?time=" + _now.getTime());
}
}
window.onload=refreshMe;
</script>
<% @body_id = 'cart' %>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
   
 
  </div>

<% else %>
  <div data-hook="outside_cart_form">
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div data-hook="inside_cart_form">

        <div data-hook="cart_items">
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
        </div><br/>
          <div class="links columns ten alpha" data-hook="cart_buttons">
          <%= button_tag :class => "button", :id => 'update-button' do %>
            <%= t(:update) %>
          <% end %>
         
        </div>
 <div id="subtotal" data-hook class="columns six omega">
          <h4 class="cart_line2"><div class="cart_total">Sub total 		</div>	 <%= order_subtotal(@order) %></h5>
        </div>
        <div class="links columns ten alpha" data-hook="cart_buttons">
          
         <a href='/checkout' style="background:url(../assets/continue.jpg) no-repeat; border:0; border-width:0; cursor:pointer; width:121px; height:35px;padding: 7px 87px 36px 35px; float: right;" id = 'checkout-link' ></a>
        </div>
        
      </div>
    <% end %>
  </div>

<% end %>
