<fieldset id="payment" data-hook style="border: 0px;">
	<div style="margin:25px;">
  <span class="lightbox_title3">Payment Info</span>
  <div data-hook="checkout_payment_step" >
    <% @order.available_payment_methods.each do |method| %>
      	<span style="display:none;">
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </span>

    <% end %>

    <ul id="payment-methods" data-hook type='none'>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook >
          <fieldset style="border:0;">
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
   
    <div data-hook="coupon_code_field" data-hook></div>
  </div>
</fieldset>
	
<div class="form-buttons" data-hook="buttons">
      <input type="submit" name="Submit" value="" style="background:url(../assets/purchase_bg.jpg) repeat-x; border:0; border-width:0; cursor:pointer; width:121px; height:35px;" />
  <script>disableSaveOnClick();</script>
</div>
</div>