 <%= stylesheet_link_tag    "style" %>
<%= form_for :order, :url => populate_orders_url do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.has_variants? %>
      <div id="product-variants" class="columns five alpha">
        <h6 class="product-section-title"><%= t(:variants) %></h6>
        <ul>
          <% has_checked = false
          @product.variants.active.each_with_index do |v,index|
            next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
            checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
            has_checked = true if checked %>
            <li>
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
              <label for="<%= ['products', @product.id, v.id].join('_') %>">
                <span class="variant-description">
                  <%= variant_options v %>
                </span>
                <% if variant_price_diff v %>
                  <span class="price diff"><%= variant_price_diff v %></span>
                <% end %>
              </label>
            </li>
          <% end%>
        </ul>
      </div>
    <% end%>

    <% if @product.price %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
        
     <div style="padding:20px; border-top:1px solid #fff">

<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td class="cart_line"><div class="cart_product"><%= @product.name %></div><div class="cart_price"> <%= number_to_currency @product.price %></div>
        </div>

        <div class="add-to-cart">
          <% if @product.has_stock? || Spree::Config[:allow_backorders] %>      
            <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
              1, :class => 'title', :in => 1..@product.on_hand %>
            <tr>
    		<td align="right" valign="top">
            <%= button_tag :class => 'continue', :type => :submit do %>
              <%= t(:" ") %>
            <% end %>
          <% else %>
            <%= content_tag('strong', t(:out_of_stock)) %>
          <% end %>
        </div>

      </div>
    <% end %>    

  </div>
<% end %>
