<%= stylesheet_link_tag 'style', 'jquery.ad-gallery','colorbox','lightbox' %>

  
<%= javascript_include_tag "jquery.ad-gallery.js","jquery.colorbox.js","jquery.colorbox-min.js", "lightbox1" %>
  <script type="text/javascript">
  $(function() {
    $('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');
    $('img.image1').data('ad-title', 'Title through $.data');
    $('img.image4').data('ad-desc', 'This image is wider than the wrapper, so it has been scaled down');
    $('img.image5').data('ad-desc', 'This image is higher than the wrapper, so it has been scaled down');
    var galleries = $('.ad-gallery').adGallery();
    setTimeout(function() {
      galleries[0].addImage("/assets/thumbs/t7.jpg", "/assets/7.jpg");
    }, 1000);
    
    setTimeout(function() {
      galleries[0].removeImage(1);
    }, 4000);
    
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
    $('#toggle-description').click(
      function() {
        if(!galleries[0].settings.description_wrapper) {
          galleries[0].settings.description_wrapper = $('#descriptions');
        } else {
          galleries[0].settings.description_wrapper = false;
        }
        return false;
      }
    );
  });
  </script>
  
  	<script>
			$(document).ready(function(){
				//Examples of how to assign the ColorBox event to elements
				$(".group1").colorbox({rel:'group1'});
				$(".group2").colorbox({rel:'group2', transition:"fade"});
				$(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
				$(".group4").colorbox({rel:'group4', slideshow:true});
				$(".ajax").colorbox();
				$(".youtube").colorbox({iframe:true, innerWidth:425, innerHeight:344});
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
				$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});
				
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
		</script>
		<body>
  <div align="center" id="maindiv">
	

	
	<div id="header1">
	  <div id="header_wrap">
	  <div id="logo"><a href="#"><img src="/assets/logo.jpg" alt="" border="0" /></a></div>
	  
	  <div id="slogan">Annual Alumni Campaign</div>
	  
	  <div id="sn">
	  
	  <div id="share">Help us! Share this with friends</div>
	  <a href="#"><img src="/assets/facebook.jpg" alt="Facebook" title="Facebook" border="0" /></a> <a href="#"><img src="/assets/twitter.jpg" alt="Twitter" title="Twitter" border="0" style="margin-left:10px"/></a></div>
	  
	  </div>
	</div>
	
	
	<div id="wrap">
	
	<div id="alert">
	<div id="alert_image"><img src="/assets/alert.png" alt="" /></div>
	<div>Only <span class="orange">4 days</span> left to place your order!<br />
    <span class="smalltext">All orders must be placed by on 9/17/2012</span></div>
	</div>
	
	
	<div id="box_wrap">
    <div id="box1" style=" background-image:url(/assets/tick.jpg); background-repeat:no-repeat; background-position:2px 2px;">Our goal is <span class="orange">$150,000
	</span>
      <div id="progress"></div><label id="amount">100%</label>
	</div>
	
	
	<div id="box2"><div style="padding:3px 0 3px 30px; background:url(/assets/user.jpg) no-repeat" >Our supporters...</div>
	<div id="white_box"><div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox_last"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	</div>
	</div>
	
	
  </div>
  
  
  
	
	<div id="leftside">
	  <div class="leftbox1" style="background-image:url(/assets/fundraiser.jpg); background-repeat:no-repeat; background-position:2px 10px">
	   <div class="heading">About this Fundraiser</div>
	    <div class="whitebg"><strong>In order to fund the new gym, we've set an ambitious goal of $150,000 this year. Thank you for your support!</strong>
	    <p>Annual Alumni Campaign - lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo lacinia quam vel cursus. Vivamus vulputate, elit eget fringilla bibendum, quam turpis placerat eros, ac porttitor nibh lacus at dolor. Morbi sagittis urna sed mi vehicula porta. </p>
	    <p>Vestibulum nec quam urna, non suscipit nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus facilisis eleifend faucibus. Cum sociis natoque penatibus et magnis dis. </p>
	    <p>Vivamus viverra turpis sit amet metus consequat gravida sed eget enim. Curabitur aliquet consectetur magna nec vehicula. Fusce gravida arcu eu nunc pharetra lacinia. </p>
	    </div>
	  </div>
	  
	  
	  
	  
	  
	  <div class="leftbox1" style="background-image:url(/assets/setting.jpg); background-repeat:no-repeat; background-position:2px 10px">
	   <div class="heading">About this Fundraiser</div>
      <a href="#"><img src="/assets/video.jpg" alt="" width="242" height="112" border="0" /></a></div>
	  
	  
	  
	</div>
	
	

	<div id="rightside">
		<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
<% @variants = Spree::Variant.active.includes([:option_values,:images]).where(:product_id => product.id) %> 
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>

  <% reset_cycle('default') %>
  <% products.each do |product| %>

	 <div class="product_box">
	 	
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" align="left" valign="top">
	
	<div id="container">
   
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">  </div>
   
      <div class="ad-nav">
        <div class="ad-thumbs">
             <ul class="ad-thumb-list">
          	 
          	<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
 
       <% product.images.each do |i| %>
        	 <li>
              <%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %>
              
   			 <% end %>
      </li>
  </ul>
<% end %>
  
     		</ul>
        </div>
      </div>
    </div>
    
  </div>
	
	</td>
          <td align="left" valign="top">
	
	<div class="discription">
	  <h5><%= truncate(product.name, :length => 50) %></h5>
	  	<%= truncate(product.description, :length => 100) %><a href="#"><img src="/assets/right_arrow.jpg" alt="" width="16" height="15" border="0" align="absmiddle" style="margin-top:" /></a></div>
     <div class="form_wrap">
     	<table width="100%" border="0" cellpadding="0" cellspacing="10">
  <% if product.has_variants? %>
  <tr>
    <td class="textfield_bg"><%= select("product", "product_id",
Spree::OptionValue.find_all_by_option_type_id(935339117).collect{|p|[p.presentation,
p.option_type_id]},:prompt => "Size")%>
      
    </td>
  </tr>
  <tr>
    <td class="textfield_bg"><%= select("product", "product_id",
Spree::OptionValue.find_all_by_option_type_id(643188970).collect{|p|[p.presentation,
p.option_type_id]},:prompt => "Color")%></td>
  </tr>
  <% else %>
  <tr>
    <td class="textfield_bg"> <select name="select2" class="list">
      <option>Size</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="textfield_bg"><select name="select2" class="list">
      <option>Color</option>
    </select></td>
  </tr>
<% end %>
  <tr>
    <td align="center" valign="middle" class="price"> <%= number_to_currency product.price %>  </td>
  </tr>
  <tr>
    <td align="center" valign="top">
	 <a class='inline' style="text-decoration:none" href="#inline_content">	
	 	<%= link_to '', "#", :onclick=>"javascript: tb_show('', '#{product_path(product)}?receiver_id=51&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=320&width=820&modal=false', tb_pathToImage);",  :class=>"thickbox cart_button" %>
	 	
	 </a>
	 
   
   </td>
  </tr>
</table>

		
</div></td>
    </tr>
</table></div>



<!-- This contains the hidden content for inline calls -->
<div style='display: none'>

  <div id='inline_content' style=" background: url(assets/lightbox_bg.png); border-radius: 10px 10px 10px 10px; padding:7px">
<div style="width:100%; background: url(assets/lightbox_bg.jpg); border-radius: 10px 10px 10px 10px;">
<div class="lightbox_title">Your Cart</div>

<div style="padding:20px; border-top:1px solid #fff">

<table width="100%" border="0" cellspacing="5" cellpadding="0">
<tr>
<td class="cart_line"><div class="cart_product"><%= truncate(product.name, :length => 50) %></div>			
		<div class="cart_price"><%= number_to_currency product.price %> </div></td>
</tr>



  <tr>
<td class="divider2">&nbsp;</td>
</tr>

<tr>
<td align="right" valign="top"><a class="ajax" href="flash.html">
  <input type="button" value="" class="continue" /></a></td>
</tr>
</table>

  </div>
</div>

 
  

	
	</div>
</div>
<!-- end of content for inline calls -->
<% end %>

<% end %>
<!-- <% if paginated_products.respond_to?(:num_pages)
      params.delete(:search)
      params.delete(:taxon)
%><%= paginate paginated_products %><% end %> -->
</div>
