<%= stylesheet_link_tag 'style', 'jquery.ad-gallery','colorbox','lightbox' %>

  
<%= javascript_include_tag "jquery.ad-gallery.js","jquery.colorbox.js","jquery.colorbox-min.js",'lightbox1' %>

  <script type="text/javascript">
  $(function() {
    $('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');
    $('img.image1').data('ad-title', 'Title through $.data');
    $('img.image4').data('ad-desc', 'This image is wider than the wrapper, so it has been scaled down');
    $('img.image5').data('ad-desc', 'This image is higher than the wrapper, so it has been scaled down');
    var galleries = $('.ad-gallery').adGallery();
    setTimeout(function() {
      galleries[0].addImage("/assets/thumbs/t7.jpg", "/assets/7.jpg");
    }, 1000);
    
    setTimeout(function() {
      galleries[0].removeImage(1);
    }, 4000);
    
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
    $('#toggle-description').click(
      function() {
        if(!galleries[0].settings.description_wrapper) {
          galleries[0].settings.description_wrapper = $('#descriptions');
        } else {
          galleries[0].settings.description_wrapper = false;
        }
        return false;
      }
    );
  });
  </script>
  
 
		<body>
  <div align="center" id="maindiv">
	

	
	<div id="header1">
	  <div id="header_wrap">
	  <div id="logo"><a href="#"><img src="/assets/logo.jpg" alt="" border="0" /></a></div>
	  
	  <div id="slogan">Annual Alumni Campaign</div>
	  
	  <div id="sn">
	  
	  <div id="share">Help us! Share this with friends</div>
	  <a href="#"><img src="/assets/facebook.jpg" alt="Facebook" title="Facebook" border="0" /></a> <a href="#"><img src="/assets/twitter.jpg" alt="Twitter" title="Twitter" border="0" style="margin-left:10px"/></a></div>
	  
	  </div>
	</div>
	
	
	<div id="wrap">
	
	<div id="alert">
	<div id="alert_image"><img src="/assets/alert.png" alt="" /></div>
	<div>Only <span class="orange">4 days</span> left to place your order!<br />
    <span class="smalltext">All orders must be placed by on 9/17/2012</span></div>
	</div>
	
	
	<div id="box_wrap">
    <div id="box1" style=" background-image:url(/assets/tick.jpg); background-repeat:no-repeat; background-position:2px 2px;">Our goal is <span class="orange">$150,000
	</span>
      <div id="progress"></div><label id="amount">100%</label>
	</div>
	
	
	<div id="box2"><div style="padding:3px 0 3px 30px; background:url(/assets/user.jpg) no-repeat" >Our supporters...</div>
	<div id="white_box"><div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox_last"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	</div>
	</div>
	
	
  </div>
  
  
  
	
	<div id="leftside">
	  <div class="leftbox1" style="background-image:url(/assets/fundraiser.jpg); background-repeat:no-repeat; background-position:2px 10px">
	   <div class="heading">About this Fundraiser</div>
	    <div class="whitebg"><strong>In order to fund the new gym, we've set an ambitious goal of $150,000 this year. Thank you for your support!</strong>
	    <p>Annual Alumni Campaign - lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo lacinia quam vel cursus. Vivamus vulputate, elit eget fringilla bibendum, quam turpis placerat eros, ac porttitor nibh lacus at dolor. Morbi sagittis urna sed mi vehicula porta. </p>
	    <p>Vestibulum nec quam urna, non suscipit nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus facilisis eleifend faucibus. Cum sociis natoque penatibus et magnis dis. </p>
	    <p>Vivamus viverra turpis sit amet metus consequat gravida sed eget enim. Curabitur aliquet consectetur magna nec vehicula. Fusce gravida arcu eu nunc pharetra lacinia. </p>
	    </div>
	  </div>
	  
	  
	  
	  
	  
	  <div class="leftbox1" style="background-image:url(/assets/setting.jpg); background-repeat:no-repeat; background-position:2px 10px">
	   <div class="heading">About this Fundraiser</div>
      <a href="#"><img src="/assets/video.jpg" alt="" width="242" height="112" border="0" /></a></div>
	  
	  
	  
	</div>
	
	

	<div id="rightside">
		<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% if products.empty? %>
<% @variants = Spree::Variant.active.includes([:option_values,:images]).where(:product_id => product.id) %> 

  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>

  <% reset_cycle('default') %>
  <% products.each do |product| %>

	 <div class="product_box">
	 	
	  <table width="100%" border="0" cellspacing="" cellpadding="0">
  <tr>
    <td width="40%" align="left" valign="top">
	
	<div id="container">
   
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">  </div>
   
      <div class="ad-nav">
        <div class="ad-thumbs">
             <ul class="ad-thumb-list">
          	 
          	<% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
 
       <% product.images.each do |i| %>
        	 <li>
              <%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %>
              
   			 <% end %>
      </li>
  </ul>
<% end %>
  
     		</ul>
        </div>
      </div>
    </div>
    
  </div>
	
	</td>
          <td align="left" valign="top">

	<div class="discription">
	   <span class="heading2"><%= truncate(product.name, :length => 50) %></span>
	  <p><%= truncate(product.description, :length => 100) %><a href="#"><img src="/assets/right_arrow.jpg" alt="" width="16" height="15" border="0" align="absmiddle" style="margin-top:" /></a></div>
     <div class="form_wrap">
     	<table width="100%" border="0" cellpadding="0" cellspacing="10">
<%= form_for :order, :url => populate_orders_url ,:html => { :class => "data#{product.id}"},:method => "post",:remote => true do |f| %>
     	
      <% if product.price %>
      <div data-hook="product_price" class="columns five <% if !product.has_variants? %> alpha <% else %> omega <% end %>">
        
 
        <div class="add-to-cart">
          <% if product.has_stock? || Spree::Config[:allow_backorders] %>      
            <%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"),
              1, :class => 'title', :in => 1..product.on_hand %>
            <tr>
    <td align="center" valign="middle" class="price"> <%= number_to_currency product.price %>  </td>
  </tr>
  
      <% if product.ad_hoc_option_types && !product.ad_hoc_option_types.empty? %>
<% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

	<div id="ad_hoc_options" class="textfield_bg1">
  <dl>
    <% product.ad_hoc_option_types.each do |ahot| %>
      <% ot=ahot.option_type %>
      <% class_str='ad-hoc-option-select' %>
      <% class_str += ' required' if ahot.is_required %>
      <% class_str += ' ad_hoc' if !product.ad_hoc_variant_exclusions.empty? %>

      <%# render a custom partial based on the option type name? %>

      <% partial_name = "spree/products/ad_hoc_options/#{ot.name.gsub(/(-)|(\s)/,"_").downcase}" %>
      <% if lookup.exists?(partial_name,nil,true) %>
        <%= render :partial => partial_name, :locals => {:option_type=>ahot, :class_str=>class_str} %>
      <% else %>
 
        <% select_opts = {:class => class_str} %>
        <% select_opts[:prompt] =  ot.presentation if ahot.option_values.size > 1 %>

       
          <%= select_tag "ad_hoc_option_values[#{ahot.id}]",
            options_for_select(ad_hoc_option_value_options(ahot.option_values)),
            select_opts
            %>
  <br/><br/>
  
      <% end %>
      <% end %> 
  </dl>
</div>
 <% else %>
<div class="textfield_bg">
 <select name="select2" class="list">
      <option>Size</option>
    </select>

  <br>  <br>  

<select name="select2" class="list">
      <option>Color</option>
    </select>
</div>
<% end %> 

            <tr>
    		<td align="right" valign="top">
    			<a href="/cart?KeepThis=true&TB_iframe=true&height=300&width=1000&modal=false"  onclick="$('.data<%= product.id %>').submit();"   class="thickbox cart_button"></a>

          <% else %>
            <%= content_tag('strong', t(:out_of_stock)) %>
          <% end %>
        </div>

      </div>
    <% end %> 
    
    

<% end %>
 
  </td>
    </tr>
</table>

		
</div>
</table></div>


	
<% end %>

<% end %>

<% if paginated_products.respond_to?(:num_pages)
      params.delete(:search)
      params.delete(:taxon)
%><%= paginate paginated_products %><% end %>
</div>
<%= render 'spree/footer'%>
